{% extends 'errors.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="/css/errors.css">
{% endblock %}

{% block body %}
    <div class="canvas">
        <div class="keep_left">
            <div class="keep">
                <img src="/img/KEEP_key_white.png" alt="ESIEA">
            </div>
        </div>
        <div class="upperwaves">
            <div class="wave_top" alt="ESIEA"></div>
            <div class="wave_middle" alt="ESIEA"></div>
        </div>
        <div class="wave_bottom" alt="ESIEA"></div>
        <div style="margin-top: -4px; height: 100%; background-color: #1775c2; transform: rotate(0deg);"></div>
    </div>

    <div class="text">
        <p>500 Not Found.</p>
    </div>
{% endblock %}
