{% extends 'base.html.twig' %}

{% block scripts %}
    <script type="text/javascript" src="/js/bootstrap-slider.js"></script>
    <script type="text/javascript" src="/js/Utils.js"></script>
    <script type="text/javascript" src="/js/SearchFormParser.js"></script>
    <script type="text/javascript" src="/js/Search.js"></script>
    <script type="text/javascript" src="/js/SearchRenderer.js"></script>
    <script type="text/javascript" src="/js/AdminProject.js"></script>
    <script type="text/javascript" src="/js/AdminProjectManager.js"></script>
    <script type="text/javascript" src="/js/SearchAdminRenderer.js"></script>
    <script type="text/javascript" src="/js/admin.js"></script>
{% endblock %}


{% block body %}
<div class="large-6 medium-6 columns">
    <div class="row">
        <div class="large-5 medium-5 columns">
            <h4>Gestion des PST</h4>
            <label for="search">Rechercher un PST</label> 
        </div>
        <div class="large-3 medium-3 columns">
            <a class="button centerbutton" title="Ajouter un projet" href="{{ path('project_new') }}"><i class="fi-plus"></i> {{ "admin.add"|trans }}</a>
        </div>
        <div class="large-4 medium-4 columns dropdown">
            <a id="parametersmenu" class="button centerbutton" title="Paramètres" ><i class="fi-widget"></i> {{ "admin.parameters"|trans }}</a>
            <div id="myDropdown" class="button-content">
                <a href="{{ path('project_campuses') }}">Campus</a>
                <a href="{{ path('project_categories') }}">Catégories</a>
                <a href="{{ path('project_types') }}">Types</a>
            </div>
        </div>
    </div>
    <div class="row admsearch">
        <div class="large-6 medium-6 columns">
            <input id="search" type="text" placeholder="Saisir un projet">
        </div>
        <div class="large-6 medium-6 columns">
            <div class="button-group">
                <button class="button" id="Filterbutton" value="true">Filtres</button>
                <button class="button" id="Categoriesbutton" value="false">Catégories</button>
            </div>
        </div>
    </div>    
    <div id="FilterMenu">
        <div id="Categories">
            <ul class="no-list-style">
            {% for index in categories|keys if index is divisible by(3) %}
                {% for i in 0..2 if categories[index + i] is defined %}
                    <li>
                        <div class="large-4 medium-4 columns">
                            <input type="checkbox" class="categoriescheck" value="{{ index + i }}" id="category_{{ categories[index + i].id }}">
                            <label for="category_{{ categories[index + i].id }}">{{ categories[index + i].name }}</label>
                        </div>
                    </li>
                {% endfor %}
            {% endfor %}
            </ul>
        </div>
        <div id="Filter">
            <div class="large-14 medium-14 columns end">
                <div class="row" id="searchfilters" >
                    <div class="small-14 small-centered columns">
                        <div class="row">
                            <div class="medium-3 columns">
                                <div class="column row">
                                    <label>Campus</label>
                                    <select id="campus">
                                        <option value="0">Tous</option>
                                        {% for campus in campuses %}
                                        <option value="{{ campus.id }}">{{ campus.school }} {{ campus.city }} {{ campus.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="medium-3 columns">
                                <label>Promotion</label>
                                <input id="grade" type="hidden"/><br>
                            </div>
                            <div class="medium-6 columns">
                                <label>Année universitaire</label>
                                 <input id="year" type="hidden"/><br>
                            </div>
                        </div>
                    </div>
                 </div>
            </div>
        </div>
    </div>
    <!-- PSTlist-container -->
    <div class="pstbox">
            <ul class="list" id="projects">
            </ul>
    </div>
</div>

<div class="large-6 medium-6 columns">
        <div class="row">
                <h4>Informations serveur</h4>
                <div class="callout">
                    <div class="row">
                        <div class="large-6 medium-6 columns">
                            RAM
                            <div class="row">
                                <div class="large-4 medium-4 columns">
                                    <meter min="0" max="100" value="0" id="memory" class="bar w3-blue"></meter>
                                </div>
                                <div class="large-4 medium-4 columns end">
                                <p id="memoryShow"></p> 
                                </div>
                            </div>
                        </div>
                        <div class="large-6 medium-6 columns">
                            CPU
                            <div class="row">
                                <div class="large-4 medium-4 columns">
                                    <meter min="0" max="100" value="0" id="Cpu" class="bar"></meter>
                                </div>
                                <div class="large-4 medium-4 columns end">
                                    <p id="CpuShow"></p> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <h4>Projet(s) sélectionné(s)</h4>
                <div class="callout pst-selectbox">
                        <ul id="Nestselect"></ul>
                </div>
                <div class="text-center button-group">
                        <a class="button" id="editbtn" href="#" disabled="disabled"><i class="fi-wrench"></i> Modifier</a>
                        <button class="button" id="modifybtn" type="submit" data-toggle="Déselectionner"><i class="fi-checkbox"></i> Sélectionner</button>
                        <a class="button alert" id="deletebtn" href="#" disabled="disabled" data-toggle="Supprimer la sélection" data-token="{{ csrf_token('form') }}"><i class="fi-minus-circle"></i> Supprimer</a>
                </div>
        </div>
</div>
{% endblock %}
