<!doctype html>
<html class="no-js" lang="fr">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}Keep{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/foundation.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    <link rel="stylesheet" href="{{ asset('css/foundation-icons.css') }}">
    {% block stylesheets %}{% endblock %}
    <script src="{{ asset('js/jquery-2.1.4.min.js') }}"></script>
    <script src="{{ asset('js/vendor/foundation.min.js') }}"></script>
    <script src="{{ asset('js/Sidebar.js') }}"></script>
    {% block scripts %}{% endblock %}
</head>
<body>
    <div class="container">
        <div class="top-bar" id="realEstateMenu">
            <div class="top-bar-left">
                <ul class="menu" data-responsive-menu="accordion">
                    {% if is_granted('ROLE_USER') %}
                        <li><button type="button" class="menu-icon" data-toggle="offCanvasOverlap" aria-expanded="false" aria-controls="offCanvasOverlap"></button></li>
                    {% endif %}                                   
                    <li class="menu-text brand">
                        <a href="{{ path('page_home') }}">
                            <img src="{{ asset('img/KEEP_key_white_logo.png') }}" alt="ESIEA" />
                        </a>
                    </li>
                    <li><a class="menu-link" href="{{ path('page_home') }}">{{ 'page.homepage'|trans }}</a></li>
                    <li><a class="menu-link" href="{{ path('page_about') }}">{{ 'page.about'|trans }}</a></li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li><a class="menu-link" href="{{ path('admin_home') }}">{{ 'admin.administration'|trans }}</a></li>
                    {% endif %}
                    
                </ul>
            </div>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <div class="top-bar-right">
                <ul class="menu">
                    <li>
                        <div class="button-group user-info">
                          <a class="username button">{{ app.user.lastname }} {{ app.user.firstname }}</a>
                          <a href="{{ path('user_logout', {_csrf_token: csrf_token('logout')}) }}" class="button">{{ 'user.logout'|trans }}</a>
                        </div>
                    </li>
                </ul>
            </div>
            {% endif %}
        </div>
        <div class="off-canvas position-left is-transition-overlap" id="offCanvasOverlap" data-off-canvas="58c0qd-off-canvas" data-transition="overlap" aria-hidden="true">
            {% if is_granted('ROLE_USER') %}
                {{render(controller('ProjectBundle:Account:Sidebar'))}}
            {% endif %}
        </div>
        <div class="content-page">{% block body %}{% endblock %}</div>
        {% block javascripts %}{% endblock %}
    </div>
    <script>
        $(document).foundation();
    </script>
</body>
</html>

