<!doctype html>
<html class="no-js" lang="fr">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}Keep{% endblock %}</title>
    <link rel="stylesheet" href="//{{ domain }}/css/foundation.min.css">
    <link rel="stylesheet" href="//{{ domain }}/css/app.css">
    <link rel="stylesheet" href="//{{ domain }}/css/foundation-icons.css">
    {% block stylesheets %}{% endblock %}
    {% block scripts %}{% endblock %}
</head>
<body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
</body>
</html>

