{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/css/autocomplete.css">
{% endblock %}

{% block body %}
<div class="row">
    {% if(project.id is null) %}
        <h1>Ajouter un projet</h1>
    {% else %}
        <h1>Modifier un projet</h1>
    {% endif %}
    <hr/>
</div>
<div class="row">
    {{ form_start(form) }}
    {{ form_errors(form.description) }}
    {{ form_row(form.description, {'attr' : {'rows': 10}}) }}
    <input class="button" type="submit" value="Éditer" />
    {{ form_end(form) }}
</div>
{% endblock %}
