{% extends 'base.html.twig' %}

{% block scripts %}
<script src="{{ asset('js/UserScreen.js') }}"></script>
{% endblock %}


{% block body %}
    <iframe class="user-screen" src="{{ path('project_account_welcome') }}"></iframe>
{% endblock %}
