<a class="sidemenu-link" href="{{ path('project_account_index') }}"><h2>{{ 'project.myprojects'|trans }}</h2></a>

<ul class="sidebar-nav"> 
	{% for project in projects %}    
        <li>
		<button class="projects-menu">{{ project.name }}</button>
		<a href="{{ path('project_account_edit', { slug: project.slug }) }}"><i class="fi-widget"></i></a>
	</li>

        <li class="tools">
            {% if project.container is not null %}
            <ul>
                {% for module in project.container.model.modules %}
                <li>
                    <a class="tool-button" href="{{ path('project_account_index') }}#{{ project.slug ~ (module.slug is not null ? ':' ~ module.slug) }}">
                        {% if module.logoPath is not null %}
                        <img class="sidebar-module-logo" src="{{ module.logoPath }}" alt="{{ module.name }}"/>
                        {% endif %}
                        {{ module.name }}
                    </a>
                    <a href="//{{ (module.slug is not null ? module.slug ~ '-') ~ project.slug ~ '.' ~ domain }}"><i class="fi-link"></i></a>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p>Les données du projet ne sont plus accessibles.</p>
            {% endif %}
        </li>
    {% endfor %}
</ul>
