iframe {
    border: 0;
    display: block;
}

.label.label-tiny {
    font-size: 0.7em;
    padding: 4px 5px;
    vertical-align: middle;
}

.slider .tooltip.top {
  margin-top: -75px;
}

.tooltip.top::before, .tooltip::before {
    margin-top: -43px;
    display: none;
}

.tooltip {
    padding: 0.4rem;
    background-color: #1A171B;
}

.slider .tooltip.top {
    margin-top: -2px;
    padding: 2px 5px 0px 5px;
}

.slider-handle {
    background-color: #0086C7;
    width: 1.2rem;
    height: 1.2rem;
}

.tooltip-inner {
    white-space: nowrap;
}

.slider {
    background-color: #333333;
    border-radius: 2px;
}

.tooltip-min, .tooltip-max {
    display: none;
}

#searchfilters {
    font-size: .875rem;
}

.filters {
    background-color: #e7e8e9;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 3px;
}

h1  {
    font-size: 46px;
}

.container {
    margin: 0 auto -65px;
    height: 100vh;
}

.top-bar {
    position: fixed;
    width: 100%;
    z-index: 4;
    height: 90px;
}

.top-bar-left .menu-link {
	background-color: #2082c4;
	color: #eeeeee;
}

.top-bar-left .menu-link:hover {
	background-color: #187ac2;
	color: #ffffff;
}

.top-bar, .top-bar ul {
	background-color: #0086C7;
}

.top-bar-left .brand a {
    margin: 0;
    padding: 0;
}

.top-bar-right {
	margin-top: 13px;
}

.top-bar-right .user-info .username {
    background-color: #333;
}

.top-bar-left .menu-icon {
    outline: none;
}

ul.menu li {
	padding-right: 20px;
}

footer .menu.float-right {
	margin-top: 12px;
}

.about-logo {
    width: 160px;
    margin-right: 20px;
}

.about-authors {
    height: 175px;
    font-size: 0.90em;
}

.home-logo {
    padding-top: 20px;
    text-align: center;
}

#search {
    background-image: url('/img/search.png');
    background-position: right;
    background-repeat: no-repeat;
    padding-right: 35px;
}

.admsearch input, .admsearch .button-group, .admsearch .button-group button {
    margin-bottom: 0px;
}

#FilterMenu {
    height: 2px;
    background-color: #258dad;
    overflow-x: hidden;
}

#FilterMenu label {
    color: #fefefe;
}

.pst-title {
    margin-bottom: 0;
}

.subheader {
    margin-top: 0;
}

h6.subheader {
    font-size: 0.85em;
}

.category {
    background-color: #CCCCCC;
    border-radius: 2px;
    padding: 4px 4px 1px 4px;
    color: #555;
}

.callout {
    background-color: #e7e8e9;
    border: 0;
    border-radius: 0;
}

.label-area {
	border: 1px solid #CACACA;
	min-height: 40px;
	margin-bottom: 10px;
	padding: 0 4px;
    border-radius: 3px;
}

.label-item {
	background-color: #288ad2;
	color: #FFFFFF;
	border-radius: 15px;
	padding: 0 10px;
	margin: 2px 0;
	line-height: 22px;
}

.label-item input, .label-item input:focus {
    height: 22px;
    border: 0;
    padding: 0;
    margin: 0;
    background-color: inherit;
    box-shadow: unset;
    color: white;
    display: inline;
    width: 165px;
}

.label-item input::-moz-placeholder,
.label-item input:-moz-placeholder,
.label-item input:-ms-input-placeholder,
.label-item input::-webkit-input-placeholder {
    color: #FFF;
}

.label-item, .label-add, .label-item div {
	display: inline-block;
}

.label-add, .label-item .label-delete {
	cursor: pointer;
}

.label-item, .label-add {
	height: 22px;
}

.label-add, .label-item .label-delete {
	line-height: 21px;
}

.label-item .label-delete {
	border-left: 1px solid #98daff;
	border-radius: 50%;
	padding-left: 7px;
}

.label-add {
	background-color: #000;
	color: #FFFFFF;
	border: 1px solid #FFF;
	padding: 0 6px;
	border-radius: 50%;
}

form .row .prefix-radius.row.collapse .prefix {
    border-radius: 0;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}
span.prefix, label.prefix {
    background: #f2f2f2;
    border-right: none;
    color: #333333;
    border-color: #cccccc;
}

.position-left {
    margin-top: 90px;
}

.prefix, .postfix {
    border-style: solid;
    border-width: 1px;
    display: block;
    font-size: 0.77778rem;
    height: 2.05556rem;
    line-height: 2.05556rem;
    overflow: visible;
    padding-bottom: 0;
    padding-top: 0;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 2;
    height: 2.4375rem;
    line-height: 2.4375rem;
}

form .row .postfix-radius.row.collapse .postfix {
    border-radius: 0;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}
span.postfix, label.postfix {
    background: #f2f2f2;
    border-left: none;
    color: #333333;
    border-color: #cccccc;
}

label.inline {
    margin: 0 0 0.88889rem 0;
    line-height: 2.4375rem;
}
label.right {
    float: none !important;
    text-align: right;
}
.right {
    float: right !important;
}

.push {
    height: 60px;
}

#footer {
	width: 100%;
    height: 65px;
    background-color: #1A171B;
}

#footer a {
    color: #e8662c;
    font-weight: bold;
}

#footer a:hover {
    color: #ff864c;
}

.pstbox {
    margin: 5px;
    height: 405px;
    overflow-x:hidden;
}

.pstbox hr {
    margin-top : 0px;
    margin-bottom:  14px;
}

.pstbox ul {
    margin: 0px;
    margin-left: 15px;
}

.pstbox>ul>li {
    list-style-type: none;
    border-bottom: 1px solid #DDD;
    margin-bottom: 8px;
}

.pst-selectbox{
    height: 300px;
    overflow-x:hidden;   
}

.no-list-style {
    list-style-type: none;
}

meter {
    /* For Firefox */
    background: #EEE;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2) inset;
    border-radius: 3px;
}

meter::-moz-meter-bar {
    border-radius: 3px;
}

meter:-moz-meter-optimum::-moz-meter-bar {
    background: #0086C7;
}

.boxes {
  max-height: 195px;
  overflow-x: hidden;
  background-color: white;
  border: 1px solid #cacaca;
  border-radius: 3px;
  padding: 4px 0
}

.boxes li {
  list-style-type: none;
  margin-bottom: 2px;
}

.boxes input, #Categories input {
  margin: 0;
  vertical-align: -3px;
}

.button-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.button-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.button-content a:hover {background-color: #f1f1f1}

.show {display:block;}

#parametersmenu {
    margin-bottom: 0;
}

.off-canvas.is-transition-overlap.is-open{
    box-shadow: 0 0 10px rgba(10, 10, 10, 0);
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    margin-top: 55px;
    list-style: none;
}

.sidemenu-link {
    text-align: center;
    text-decoration: none;
    outline: none;
}

.sidemenu-link h2 {
    font-size: 200%;
    border-bottom: 1px #999 solid;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
    list-style: none;
}

.sidebar-nav li a, .sidebar-nav li button {
    color: #222;
    cursor: pointer;
}

.sidebar-nav li a:hover, .sidebar-nav li button:hover {
    color: #666;
}

.sidebar-module-logo {
    width: 16px;
    height: 16px;
}

.tools {
    display: none;
}

.tools.toggled {
    display: block;
}


.content-page  {
    padding-top: 100px;
    height: 100%;
}

.top-bar{
    z-index: 4242;
}

.user-screen{
    width:100%;
    margin-top: -10px;
    height: calc(100% + 10px);
}

/*----------------------------*\
    Container Loading
\*----------------------------*/

.load-base{
    color: #FFF;
    text-align: center;
    background-color: #0086C7;
    position: absolute; 
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -290px;
}

.loader{
    width: 50px;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.icon{
    max-width: 90%;
    position: relative ;
    width: 400px;
}

.loader1:before,
.loader1:after,
.loader1 span{
    content: '';
    display: block;
    position: absolute;
    top: 0px; left: 0px;
    width: 10px;
    height: 30px;
    background-color: #FFF;
    -webkit-animation: load-line 3s infinite cubic-bezier(.2,.68,.18,1.08);
            animation: load-line 3s infinite cubic-bezier(.2,.68,.18,1.08);
}

.loader1:after{
    left:15px;
    -webkit-animation-delay:  -.66s;
            animation-delay:  -.66s;
}

.loader1 span{
    left:30px;
    -webkit-animation-delay:  -1.32s;
            animation-delay:  -1.32s;
}

@-webkit-keyframes load-line {
    0%,100% { -webkit-transform:scaley(1); transform:scaley(1); }
    50% { -webkit-transform
        :scaley(.4); transform:scaley(.4); }
}

@keyframes load-line {
    0%,100% { -webkit-transform:scaley(1); transform:scaley(1); }
    50% { -webkit-transform:scaley(.4); transform:scaley(.4); }
}