html,body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #3fd4d0;
}

.canvas {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 80%;
}

.keep_left {
    margin-left: 38%;
}

.text {
    position: absolute;
    bottom: 30%;
    left: 39%;
    color: white;
    font-size: 50px;
}

@-webkit-keyframes wave {
    0%      {background-position: 1851px 0;}
    100%    {background-position: 0 0;}
}

/*@-webkit-keyframes ship {
        0%   {margin-top: 0px;}
        25%  {margin-top: -6px;}
        75%  {margin-top: 6px}
        100% {margin-top: 0px;}
}*/

@-webkit-keyframes ship {
    0% {
        -ms-transform: rotate(5deg); /* IE 9 */
        -webkit-transform: rotate(5deg); /* Chrome, Safari, Opera */
        transform: rotate(5deg);
        margin-left: -20px;
        margin-top: -15px;
    }
    
    20%  {
        -ms-transform: rotate(7deg); /* IE 9 */
        -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
        transform: rotate(7deg);
        margin-left: -10px;
    }

    45% {
        margin-top: 0px;
    }
    
    50% {
        -ms-transform: rotate(-4deg); /* IE 9 */
        -webkit-transform: rotate(-4deg); /* Chrome, Safari, Opera */
        transform: rotate(-4deg);
        margin-left: 20px;
    }

    100% {
        -ms-transform: rotate(5deg); /* IE 9 */
        -webkit-transform: rotate(5deg); /* Chrome, Safari, Opera */
        transform: rotate(5deg);
        margin-left: -20px;
        margin-top: -15px;
    }
}

@keyframes shiptranslate {
     0%   {margin-left: 196px;}
     50% {margin-left: 160px;}
     100% {margin-left: 196px;}
}

@-webkit-keyframes sunrotate {
    0% {
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg) scale(1);
    }

    50% {
        transform: rotate(180deg) scale(1.1);
    }

    100% {
        -ms-transform: rotate(360deg); /* IE 9 */
        -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
        transform: rotate(360deg) scale(1);
    }
}

.sun img {
    -webkit-animation: sunrotate 150s infinite linear; /* Safari 4.0 - 8.0 */
    animation: sunrotate 150s infinite linear;
    width: 12%;
    position: absolute;
    top: 18%;
    left: 8%;
}

.canvas {
    overflow: hidden;
    padding-top: 150px;
}

.upperwaves {
    margin-bottom: 14px;
}

.wave_bottom {
    height: 80px;
    margin-top: -80px;
    margin-left: -20px;
    background-repeat: repeat-x;
    background-position: 50px 0;
    background-image: url('../img/keep_bottom_p.png');
    -webkit-animation: wave 50s infinite linear; /* Safari 4.0 - 8.0 */
    animation: wave 50s infinite linear;
    transform: rotate(0deg);
    background-size: 1000px 100px;
}

.wave_middle {
    height: 80px;
    margin-top: -64px;
    margin-left: -100px;
    background-repeat: repeat-x;
    background-position: 50px 0;
    background-image: url('../img/keep_middle_p.png');
    -webkit-animation: wave 40s infinite linear; /* Safari 4.0 - 8.0 */
    animation: wave 40s infinite linear;
    background-size: 1000px 100px;
}

.wave_top {
    height: 80px;
    /*margin-top: 0px;*/
    margin-left: -280px;
    background-repeat: repeat-x;
    background-position: 50px 0;
    background-image: url('../img/keep_top_p.png');
    -webkit-animation: wave 30s infinite linear; /* Safari 4.0 - 8.0 */
    animation: wave 30s infinite linear;
    background-size: 1000px 100px;
}

.keep {
    margin-bottom: -98px;
}

.keep img {
    width: 320px;
    margin-top: 0px;
    margin-left: 0px;
    -webkit-animation: ship 2s infinite linear; /* Safari 4.0 - 8.0 */
    animation: ship 2s infinite linear;
}