{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
	<h1>{{ 'user.login'|trans }}</h1>
	<hr/>
</div>
{% if error %}
	<div class="row">
    	<div class="callout alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
	</div>
{% endif %}
<div class="row">
	<form action="{{ path("user_login_check") }}" method="post">
		<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />

		<label for="username">{{ 'user.username'|trans }}</label>
		<input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

		<label for="password">{{ 'user.password'|trans }}</label>
		<input type="password" id="password" name="_password" required="required" />

		<input type="checkbox" id="remember_me" name="_remember_me" value="on" />
		<label for="remember_me">{{ 'user.remember_me'|trans }}</label>
		<br/>

		<input class="button button-primary" type="submit" id="_submit" name="_submit" value="{{ 'user.login.submit'|trans }}" />
	</form>
</div>
{% endblock %}
