{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <h1>Types</h1>
</div>
<div class="row">
    <table>
        <tr>
            <th>Nom</th>
            <th></th>
        </tr>
        {% for type in types %}
        <tr>
            <td>
                {{ type.name }}
            </td>
            <td>
                <form action="{{ path('project_types_remove', {id: type.id}) }}" method="POST">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('delete_type') }}">
                    <input type="submit" class="button alert" value="Supprimer">
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_label(form.name, 'Type') }}
    {{ form_widget(form.name) }}
    <input class="button" type="submit" value="Ajouter" />
    {{ form_end(form) }}
</div>
{% endblock %}
