{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/css/autocomplete.css">
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="/js/Utils.js"></script>
    <script type="text/javascript" src="/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/js/LabelManager.js"></script>
    <script type="text/javascript" src="/js/admin_edit.js"></script>
{% endblock %}

{% block body %}
<div class="row">
    {% if(project.id is null) %}
        <h1>Ajouter un projet</h1>
    {% else %}
        <h1>Modifier un projet</h1>
    {% endif %}
    <hr/>
</div>
<div class="row">
    {% if(project.id is not null and project.container is null) %}
        <div class="callout warning">
        Le conteneur de ce projet a été supprimé.<br/>Il n'est plus possible de récupérer les données qui lui sont associées.
        </div>
    {% endif %}

    {{ form_start(edit_form, {'attr' : {'id': 'project_form'}}) }}
    <div class="row">
        <div class="medium-8 columns">
            {{ form_row(edit_form.name) }}
        </div>
        <div class="medium-4 columns">
            {{ form_row(edit_form.slug, {'attr': {'pattern' : '[a-z0-9-]{0,20}'}}) }}
        </div>
    </div>
    {{ form_errors(edit_form.description) }}
    {{ form_row(edit_form.description) }}

    {{ form_errors(edit_form.year) }}
    {{ form_row(edit_form.year, {'attr': {'value': project.year|default("now"|date('Y')) }}) }}

    <label>Année des étudiants
        {% if(project.members|length > 0) %}
            <input type="number" id="project_grade" value="{{ project.members[0].grade }}" min="2" max="4"/>
        {% else %}
            <input type="number" id="project_grade" value="2" min="2" max="4"/>
        {% endif %}
    </label>

    {{ form_errors(edit_form.collection) }}
    {{ form_row(edit_form.collection) }}

    {{ form_errors(edit_form.type) }}
    {{ form_row(edit_form.type) }}


    <label>{{ "project.students"|trans }}</label>
    <div class="label-area" id="studentsarea">
        {% for student in project.members if student.grade > 0 %}
            <div class="label-item" data-id="{{ student.id }}" data-name="{{ student.user.lastname }} {{ student.user.firstname }} ({{ student.user.username }})">
            </div>
        {% endfor %}
    </div>
    <label>{{ "project.tutors"|trans }}</label>
    <div class="label-area" id="tutorsarea">
        {% for tutor in project.members if tutor.grade == 0 %}
            <div class="label-item" data-id="{{ tutor.id }}" data-name="{{ tutor.user.lastname }} {{ tutor.user.firstname }} ({{ tutor.user.username }})">
            </div>
        {% endfor %}
    </div>

    <label>Catégories</label>
    <div class="label-area" id="categoriesarea">
        {% for category in project.categories %}
            <div class="label-item" data-id="{{ category.id }}" data-name="{{ category.name }}">
            </div>
        {% endfor %}
    </div>
    {{ form_errors(edit_form.campus) }}
    {{ form_row(edit_form.campus) }}

    {{ form_errors(edit_form.published) }}
    {{ form_row(edit_form.published) }}
    
    {% do edit_form.categories.setRendered %}
    <input class="button" type="submit" value="Éditer" />
    {{ form_end(edit_form) }}
</div>
{% if delete_form is defined and delete_form is not null %}
<div class="row">
    {{ form_start(delete_form) }}
        <input class="button alert" type="submit" value="Supprimer">
    {{ form_end(delete_form) }}
</div>
{% endif %}
{% endblock %}
