{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <h1>Campus</h1>
</div>
<div class="row">
    <table>
        <tr>
            <th>Nom</th>
            <th>École</th>
            <th>Ville</th>
            <th></th>
        </tr>
        {% for campus in campuses %}
        <tr>
            <td>{{ campus.name|default('-') }}</td>
            <td>{{ campus.school }}</td>
            <td>{{ campus.city }}</td>
            <td>
                <a class="button alert" href="{{ path('project_campuses_remove', {id: campus.id}) }}">Supprimer</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <form method="post" action="{{ path('project_campuses') }}">
        <div class="row">
            <div class="medium-8 columns">
                <div class="row">
                    <div class="medium-4 columns">
                        <input type="text" name="campus" placeholder="Campus... (optionnel)" />
                    </div>
                    <div class="medium-4 columns">
                        <input type="text" name="campus" placeholder="École..." required />
                    </div>
                    <div class="medium-4 columns">
                        <input type="text" name="campus" placeholder="Ville..." required />
                    </div>
                </div>
            </div>
            <div class="medium-4 columns">
                <input class="button" type="submit" value="Ajouter" />
            </div>
        </div>
    </form>
</div>
{% endblock %}
