{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <h1>{{ "page.about"|trans }}</h1>
    <hr/>
</div>
<div class="row">
    <p>La plateforme Keep a été créée dans le cadre des projets scientifiques et techniques de l'ESIEA. Ce projet a été proposé par monsieur Rey.</p>
    <p>Voici la liste des membres de ce projet : </p>
    <div class="row">
        <div class="small-6 small-centered columns">
            <div class="row">
                <div class="callout small-5 columns about-authors">
                    <p><strong>2016 - 2017</strong></p>
                    <ul>
                        <li>Lucien CAVILLOT ;</li>
                        <li>Lucas ECHARD ;</li>
                        <li>Armand ITO.</li>
                    </ul>
                </div>
                <div class="callout small-5 columns about-authors">
                    <p><strong>2017 - 2018</strong></p>
                    <ul>
                        <li>Charles BONALY ;</li>
                        <li>Quentin CLEMENT ;</li>
                        <li>Clovis DUGUE ;</li>
                        <li>Raphaël MEIRA RODRIGUES.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <p>Cette plateforme est destinée à proposer un environnement de travail collaboratif sécurisé et modulable à des utilisateurs dans le cadre du suivi de leur projet.</p>
    <p>Pour plus d'informations, voir <a href="//keep.pst.esiea.fr">le site web du projet</a>.</p>

    <div class="text-center">
        <img class="about-logo" alt="Logo ESIEA" src="/img/esiea_color_sign.png" />
        <img class="about-logo" alt="Logo KEEP" src="/img/KEEP_key_black_logo.png" />
    </div>

</div>
{% endblock %}
