{% extends 'errors.html.twig' %}

{% block body %}
<style>
html, body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    font-size: 40px;
    color: #FFF;
    text-align: center;
    background-color: #0086C7;
}

</style>
<script type="text/javascript">
setTimeout(function() {
    window.location.reload();
}, 5000);
</script>
<div class="load-base">
    <img src="//{{ domain }}/img/KEEP_key_white2.svg" class="icon">
    <div>
        <span class="loader loader1"><span></span></span>
        Chargement du logiciel...
    </div>
</div>
{% endblock %}
