{% extends 'base.html.twig' %}

{% block javascripts %}
    <script type="text/javascript" src="/js/bootstrap-slider.js"></script>
    <script type="text/javascript" src="/js/Utils.js"></script>
    <script type="text/javascript" src="/js/SearchFormParser.js"></script>
    <script type="text/javascript" src="/js/Search.js"></script>
    <script type="text/javascript" src="/js/SearchRenderer.js"></script>
    <script type="text/javascript" src="/js/SearchHomeRenderer.js"></script>
    <script type="text/javascript" src="/js/home.js"></script>
{% endblock %}


{% block body %}
    <div class="row">
        <div class="medium-7 large-9 columns">
            <h1>Projets scientifiques et techniques</h1>
            <p class="subheader">Découvrez sur ce site les différents <abbr title="Projet Scientifique et Technique">PST</abbr> des étudiants de l'ESIEA de la deuxième à la quatrième année.</p>
        </div>
        <div class="medium-5 large-3 columns">
            <div class="home-logo show-for-large">
                <img src="{{ asset('img/esiea_color_sign.png') }}" alt="Logo ESIEA" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="medium-8 medium-centered">
            <input type="text" name="search" id="search" />
        </div>
        <div class="row" id="searchfilters">
            <div class="small-9 small-centered columns filters">
                <div class="row">
                    <div class="medium-3 columns">
                        <div class="column row">
                            <label for="campus">Campus</label>
                            <select id="campus">
                                <option value="0">Tous</option>
                                {% for campus in campuses %}
                                <option value="{{ campus.id }}">{{ campus.school.name }} {{ campus.city.name }} {{ campus.name|default('') }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
        		    <div class="medium-5 column">
            			<div class="row columns">
                			<div class="medium-6 medium-centered end">
                		        <label>Promotion</label>
                                <input id="grade" type="hidden"/><br/>
                			</div>
            			</div>
            			<div class="row columns">
            			    <label>Année universitaire</label>
                            <input id="year" type="hidden"/><br/>
            			</div>
        		    </div>
                    <div class="medium-4 columns">
                        <div class="column row">
                            <label>Catégories</label>
                            <div class="boxes">
                                <ul>
                                    {% for category in categories %}
                                    <li>
                                        <input class="categoriescheck" type="checkbox" value="{{ category.id }}" id="category_{{ category.id }}">
                                        <label for="category_{{ category.id }}">{{ category.name }}</label>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row column">
        <hr>
    </div>
    <div class="row" id="projects">
    {% for project in projects %}
        <div class="row callout">
            <div class="large-2 column">
                {% if project.miniaturePath is not null %}
                    <img alt="{{ project.name }}" src="{{ project.miniaturePath }}" />
                {% else %}
                    <img alt="{{ project.name }}" src="https://placehold.it/140x100" />
                {% endif %}
            </div>
            <div class="large-10 column">
                <a href="{{ project.published ? "//" ~ project.slug ~ "." ~ domain : "#" }}">
                    <p class="lead pst-title">{{ project.name }}</p>
                    <h6 class="subheader">
                        {% for category in project.categories %}
                            <span class="category">{{ category.name }}</span>
                        {% endfor %}
                    </h6>
                    <p class="subheader">{{ project.description }}</p>
                    <h6 class="subheader">
                        Par 
                        {% for member in project.members if member.role.name == "student" %}
                            {{ member.user.lastname }} {{ member.user.firstname }},
                        {% endfor %}
                        suivi par
                        {% for member in project.members if member.role.name == "tutor" %}
                            {{ member.user.lastname }} {{ member.user.firstname }},
                        {% endfor %}
                        à
                        {% for campus in project.campus %}
                            {{ campus.school.name }} {{ campus.city.name }} {{ campus.name }},
                        {% endfor %}
                        en {{ project.year-1 }}-{{ project.year }} ({{ project.members[0].grade }}<sup>e</sup> année).
                    </h6>
                </a>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
